<header id="header" class="header" role="banner">
  
  <div class="header__content">
  
    <nav class="header__nav" aria-label="primary nav" role="navigation">

      <a href="/" class="header__link header__nav-logo primary">
        <span class="srt">Home</span>
        <span class="logo" aria-hidden="true">
          &lsaquo;&rsaquo;
        </span>
      </a>
      
      <button 
        id="navControl"
        class="header__link header__nav-mobile" 
        aria-expanded="false" 
        aria-controls="navList"
      >
        Menu
      </button>
      
      <ul id="navList" class="nav">
      
        <li class="nav__item">
          <a href="#introduction" class="header__link">
            Introduction
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#experience" class="header__link">
            Experience
          </a>          
        </li>
      
        <li class="nav__item">
          <a href="#specialization" class="header__link">
            Specialization
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#development" class="header__link">
            Development
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#resume" class="header__link secondary">
            Resume
          </a>
        </ul> 
        
      </ul>   
      
    </nav>
  
  </div>
  
  
</header>