<header id="header" class="header" role="banner">
  
  <div class="header__content">
  
    <nav class="header__nav" aria-label="primary nav" role="navigation">
      
      <ul class="nav">
      
        <li class="nav__item logo">
          <!-- code -->
          <a href="/" class="header__link primary">
            <span class="srt">Home</span>
            Icon
          </a>
        </li>
      
        <li class="nav__item">
          <!-- internal links -->
          <a href="#introduction" class="header__link">
            Introduction
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#experience" class="header__link">
            Experience
          </a>          
        </li>
      
        <li class="nav__item">
          <a href="#specialization" class="header__link">
            Specialization
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#development" class="header__link">
            Development
          </a>
        </li>
      
        <li class="nav__item">
          <a href="#resume" class="header__link secondary">
            Resume
          </a>
        </ul> 
        
      </ul>   
      
    </nav>
  
  </div>
  
  
</header>