/* resume */
:root {
  
  --size-1: .063rem;
  --size-2: .125rem;
  --size-4: .25rem;
  --size-8: .5rem;
  --size-12: .75rem;
  --size-16: 1rem;
  --size-24: 1.5rem;
  --size-32: 2rem;
  --size-40: 2.5rem;
  --size-48: 3rem;
  
  /* color: primary */
  --color-blue-dark: #1a252f;
  --color-cyan: #28e1bd;
  --color-red: #de2f1b;
  --color-white: #fff;
  
  /* color: secondary */
  --color-blue-light: #3498db;
  --color-pink: #f5a3de;
  
  --body-background-color: var(--color-white);
  --body-font-color: var(--color-blue-dark);
  --body-font-family: "Roboto", sans-serif;
  
  --app-title-font-size-1: var(--size-24);
  --app-title-letter-spacing: var(--size-4);
  
  --app-padding-right-left: 8vw;
  
  --app-transition-1: .24s ease-in-out 0s;
  --app-transition-2: .32s ease-in-out 0s;
  --app-transition-3: .40s ease-in-out 0s;
  
  --app-box-shadow-1: 0 var(--size-1) var(--size-2) rgba(26,37,47,.32);
  --app-text-shadow-1: var(--size-1) var(--size-2) rgba(26,37,47,.32);
  
  --app-wrapper: 64rem; /* 1024px */
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a,
button,
input,
select,
textarea {
  transition: var(--app-transition-1);
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  -webkit-appearance: none; /* safari */
  appearance: none;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--body-background-color);
  color: var(--body-font-color);
  font-family: var(--body-font-family);
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}

/* buttons */
[button] {
  --button-background: var(--color-white);
  --button-border: solid var(--size-2) var(--color-blue-dark);
  --button-color: var(--color-blue-dark);
  --button-font-size: var(--size-12);
  --button-font-weight: bold;
  --button-letter-spacing: var(--app-title-letter-spacing);
  --button-padding-top-bottom: calc(var(--size-12) + 1px); /* padding + border silliness */
  --button-padding-right-left: var(--size-16);
  --button-text-shadow: none;
  --button-text-transform: uppercase;
  background: var(--button-background);
  border: var(--button-border);
  color: var(--button-color);
  display: inline-flex;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-letter-spacing);
  padding: var(--button-padding-top-bottom) var(--button-padding-right-left);
  text-decoration: none;
  text-shadow: var(--button-text-shadow);
  text-transform: var(--button-text-transform);
}

/* CSS silliness for transitioning linear-gradient */
@property --button-bg-color1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #3498db;
}

@property --button-bg-color2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #f5a3de;
}

[button="resume"] {
  --button-background: linear-gradient(to right, var(--button-bg-color1), var(--button-bg-color2));
  --button-border: solid var(--size-2) var(--color-white);
  --button-color: var(--color-white);
  --button-text-shadow: var(--app-text-shadow-1);
  transition: --button-bg-color1 .24s, --button-bg-color2 .24s;
  
  &:focus,
  &:hover {
    --button-bg-color1: #e43725;
    --button-bg-color2: #e43725;
  }
  
}

/* typography */
.srt {
  border: 0;
  clip: rect(0 0 0 0);
  margin: -1px;
  padding: 0;
  height: 1px;  
  width: 1px;
  overflow: hidden;
  position: absolute;
}

.heading {
  --heading-color: var(--color-red);
  --heading-font-size: var(--app-title-font-size-1);
  --heading-letter-spacing: var(--app-title-letter-spacing);
  color: var(--heading-color);
  font-size: var(--heading-font-size);
  letter-spacing: var(--heading-letter-spacing);
  text-transform: uppercase;
}

.subheading {
  --subheading-color: inherit;
  --subheading-font-size: var(--app-title-font-size-1);
  --subheading-font-weight: normal;
  --subheading-letter-spacing: var(--app-title-letter-spacing);
  color: var(--subheading-color);
  font-size: var(--subheading-font-size);
  font-weight: var(--subheading-font-weight);
  letter-spacing: var(--subheading-letter-spacing);
  text-transform: uppercase;  
}

/* icons */
[icon] {
  position: relative;
}

[icon="linkedin"],
[icon="github"] {
  transform: translate(0, 2px);
}

/* wrapper */
[wrapper] {
  --wrapper-padding-right-left: var(--app-padding-right-left);
  --wrapper-max-width: var(--app-wrapper);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--wrapper-padding-right-left);
  padding-left: var(--wrapper-padding-right-left);
  max-width: var(--wrapper-max-width);
}

/* logo */
.logo {
  font-size: var(--size-24);
  font-weight: 700;
  line-height: .65;
}

/* header */
.header {
  --header-background: var(--color-blue-dark);
  --header-min-height: var(--size-48);
  --header-link-background: transparent;
  --header-link-color: var(--color-white);  
  --header-link-font-size: var(--size-12);
  --header-link-letter-spacing: var(--size-2);
  --header-link-padding-top-bottom: calc(var(--size-16) - 1px);
  --header-link-padding-right-left: var(--size-16);
  --header-link-text-transform: uppercase;
  --header-link-underline-background: var(--color-cyan);
  --header-link-underline-opacity: 0;
  --header-link-underline-transform: scale(0, 1);
  --header-link-underline-size: var(--size-2);
  background: var(--header-background);
  box-shadow: var(--app-box-shadow-1);
  min-height: var(--header-min-height);
  position: sticky;
  top: 0;
  z-index: 9;
  
  .header__link {
    background: var(--header-link-background);
    color: var(--header-link-color);
    display: block;
    font-size: var(--header-link-font-size);
    letter-spacing: var(--header-link-letter-spacing);
    padding: var(--header-link-padding-top-bottom) var(--header-link-padding-right-left);
    text-decoration: none;
    text-transform: var(--header-link-text-transform);
    position: relative;
    
    &:not(.primary, .secondary) {
      
      &:before {
        content: "";
        background: var(--header-link-underline-background);
        height: var(--header-link-underline-size);
        width: 100%;
        opacity: var(--header-link-underline-opacity);
        position: absolute;
        bottom: 0;
        left: 0;
        transform: var(--header-link-underline-transform);
        transform-origin: 0 0;
        transition: var(--app-transition-2);      
      }

      &:focus,
      &:hover {
        --header-link-color: var(--color-cyan);
        --header-link-underline-opacity: 1;
        --header-link-underline-transform: scale(1, 1);      
      }      
      
    }
    
    /* media */
    @media only screen and (min-width: 1025px) {
      
      &.header__nav-mobile {
        display: none;
      }
      
    }
    @media only screen and (max-width: 1024px) {

      &[aria-expanded="true"] {
      
        ~ .nav {
          opacity: 1;
          transform: translate(0, 0);
        }
        
      }      
      
    }
    
  }
  
  .primary {
    --header-link-background: var(--color-cyan);
    --header-link-color: var(--color-dark-blue);
    --header-link-padding-right-left: 0;
    text-align: center;
    width: var(--size-48);
  }
  
  .secondary {
    
    /* media */
    @media only screen and (min-width: 1025px) {
      --header-link-background: var(--color-red);
    }
    
  }
  
  .header__nav-logo,
  .header__nav-mobile {
    position: absolute;
    top: 0;
    bottom: 0;
  }
  
  .header__nav-logo {
    left: 0;
  }
  
  .header__nav-mobile {
    right: 0;
  }  
  
}

/* nav */
.nav {
  --nav-display: flex;
  --nav-height: auto;
  --nav-width: 100%;
  --nav-position: static;
  --nav-top: var(--size-48);
  --nav-left: 0;
  --nav-transform: translate(101%, 0);
  --nav-transition: var(--app-transition-3);
  align-items: center;
  display: var(--nav-display);
  justify-content: flex-end;
  height: var(--nav-height);
  width: var(--nav-width);
  z-index: 1;

  /* media */
  @media only screen and (max-width: 1024px) {
    --nav-display: block;
    --nav-height: calc(100vh - var(--size-48));
    --nav-position: absolute;
    
    background: color-mix(in srgb, var(--color-blue-dark) 88%, transparent);
    backdrop-filter: blur(var(--size-4));
    opacity: 0;
    position: var(--nav-position);
    top: var(--nav-top);
    left: var(--nav-left);    
    transform: var(--nav-transform);
    transition: var(--nav-transition);
  }
  
}


/* footer */
.footer {
  --footer-background: var(--color-blue-dark);
  --footer-color: var(--color-white);
  --footer-font-size: var(--size-12);
  --footer-letter-spacing: var(--size-2);
  --footer-text-transform: uppercase;
  background: var(--footer-background);
  color: var(--footer-color);
  font-size: var(--footer-font-size);
  letter-spacing: var(--footer-letter-spacing);
  padding: var(--size-12) 0;
  text-transform: var(--footer-text-transform);
  
  .footer__copyright {
    flex: 1 0 auto;
  }  
  
  .footer__nav {
    align-items: center;
    display: flex;
    gap: var(--size-4);
  }
  
  .footer__link {
    padding: 0 var(--size-8);   
  }
  
}

/* hero */
.hero {
  --hero-background: linear-gradient(135deg, var(--color-blue-light) 0%, var(--color-pink) 100%);
  --hero-color: var(--color-white);
  --hero-padding-top-bottom: 24vh;
  
  --hero-content-text-align: left;
  --hero-content-text-shadow: var(--app-text-shadow-1);
  
  background: var(--hero-background);
  color: var(--hero-color);
  padding: var(--hero-padding-top-bottom) 0;
  
  .hero__content {
    text-align: var(--hero-content-text-align);
    text-shadow: var(--hero-content-text-shadow);
  }
  
  .heading {
    --heading-color: var(--hero-color);
    --heading-font-size: var(--size-48);
    --heading-letter-spacing: var(--size-8);
    
    /* media */
    @media only screen and (max-width: 768px) {
      --heading-font-size: var(--size-40);
    }
    
  }
  
  .subheading {
    --subheading-font-size: var(--size-32);
    --subheading-letter-spacing: var(--size-8);
    
    /* media */
    @media only screen and (max-width: 768px) {
      --subheading-font-size: var(--size-24);
    }
        
  }
  
}

[hero-layout~="center"] {
  --hero-content-text-align: center;
}

/* section */
.section {
  --section-background: inherit;
  --section-color: inherit;
  --section-padding-top-bottom: 16vh;
  --section-paddding-right-left: 0;
  --section-content-gap: var(--size-8);
  background: var(--section-background);
  color: var(--section-color);
  padding: var(--section-padding-top-bottom) var(--section-paddding-right-left);
  position: relative;
  
  .section__content {
    display: flex;
    flex-direction: column;
    gap: var(--section-content-gap);
  }
}

[section-theme~="dark"] {
  --section-background: var(--color-blue-dark);
  --section-color: var(--color-white);
}

[section-theme~="red"] {
  --section-background: var(--color-red);
  --section-color: var(--color-white);
  
  .heading {
    --heading-color: var(--color-white);  
  }
  
}