<section {{ if .Get "id" }}id="{{ .Get "id" }}"{{ end }} class="section" section-theme="{{ .Get "theme" | default "none" }}">

  <div class="section__header" wrapper="{{ .Get "wrapper" | default "structure" }}">

    {{ if or ( .Get "heading" ) ( .Get "copy" ) }}
    
      <div class="section__content">
        
        {{ if .Get "heading" }}
          <h2 class="section__title" heading="3">{{ .Get "heading" }}</h2>
        {{ end }}
        
        {{ if .Get "copy" }}
          <p class="section__copy">{{ .Get "copy" }}</p>
        {{ end }}
        
        {{ if .Get "cta" }}
          <div class="section__ctas">
            <a href="{{ .Get "url" }}" button="{{ .Get "button" | default "primary" }}">{{ .Get "cta" }}</a>
          </div>
        {{ end }}
        
      </div>
      
    {{ end }}

    {{ .Inner }}
    
  </div>

</section>