//
body {
  font-family: $roboto;
  letter-spacing: rem(1);
}

h1, h2, h3, h4 {
  margin: 0;
  line-height: 1.1;

  // media
  @include media($mq-mobile) {
    line-height: 1.5;
  }

}

.srt {
  @extend %screen-reader-text;
}

//
[class*="hero-"] {
  text-transform: uppercase;

  &[class*="primary"] {
    font-size: rem(48);
    letter-spacing: rem(8);

    // media
    @include media($mq-mobile) {
      font-size: rem(32);
    }

  }

  &[class*="secondary"] {
    font-size: rem(32);
    font-weight: 400;
    letter-spacing: rem(8);

    // media
    @include media($mq-mobile) {
      font-size: rem(24);
    }

  }

}

//
[class*="heading-"] {
  color: darken($red, 10%);
  margin-bottom: rem(8);
  text-transform: uppercase;

  &[class*="primary"] {
    font-size: rem(24);
    letter-spacing: rem(4);
  }

  &[class*="secondary"] {
    font-size: rem(16);
    letter-spacing: rem(4);
  }

}
