// header
.header-container {
  background: $black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  @include shadow(1, 0, $black);

  // media
  @include media($mq-mobile) {
    box-shadow: none;
  }

}
