//
.navigation-container {
  display: flex;

  // media
  @include media($mq-mobile) {
    display: block;
  }

}

.navigation {
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 48px);

  // media
  @include media($mq-mobile) {
    background: rgba($black, .96);
    border-top: solid rem(2) $white;
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100vh - 48px);
    width: rem(256);
    position: absolute;
    top: rem(48);
    right: 0;
    transform: translate3d(100%, 0, 0);
    transition: all .24s ease-in-out 0s;

    &.open {
      transform: translate3d(0, 0, 0);
    }

  }

}

// .nav-item { }

.nav-link {
  @extend %black-letter;
  color: $white;
  display: block;
  font-weight: 400;
  padding: rem(16);
  outline: 0;
  position: relative;

  &:focus,
  &:hover {
    color: $cyan;

    &:before {
      background: $cyan;
      opacity: 1;
      transform: scale(1, 1);
    }

  }

  &.open {
    background: $red;
    color: $white;

    &:before {
      display: none;
    }

  }

  // media
  @include media($mq-tablet-up) {

    &:before {
      content: "";
      background: $white;
      height: rem(2);
      width: 100%;
      opacity: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      transform: scale(0, 1);
      transform-origin: 0 0;
      transition: all .24s ease-in-out 0s;
    }

    &.highlight {
      background: $red;
      color: $white;

      &:focus,
      &:hover {
        background: darken($red, 10%);
      }

      &:before {
        display: none;
      }

    }

  }
  @include media($mq-mobile) {
    border-bottom: solid rem(1) rgba($white, .04);
    text-align: right;
  }

}

//
.nav-home {
  background: $cyan;
  border: 0;
  color: $white;
  float: left;
  height: rem(48);
  width: rem(48);
  position: relative;

  .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

//
.nav-mobile {
  border: 0;
  display: none;

  // media
  @include media($mq-mobile) {
    display: block;
    float: right;
  }

}
