//
@font-face {
  font-family: 'anuratiregular';
  src: url('../fonts/anurati-regular-webfont.woff2') format('woff2'),
       url('../fonts/anurati-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$anurati: 'anuratiregular', sans-serif;
$roboto: 'Roboto', sans-serif;

//
$black: darken(#2c3e50, 10%);
$white: #fff;

$cyan: lighten(#1abc9c, 10%);
$red: lighten(#e74c3c, 5%);

$blue: #3498db;
$pink: #f5a3de;

//
$mq-desktop-up: '(min-width: 1025px)';
$mq-tablet-up: '(min-width: 768px)';
$mq-mobile: '(max-width: 767px)';
