//
%black-letter {
  font-size: rem(12);
  text-transform: uppercase;
  letter-spacing: rem(2);
}

%screen-reader-text {
  clip: rect(rem(1), rem(1), rem(1), rem(1));
  height: rem(1);
  width: rem(1);
  overflow: hidden;
  position: absolute;
}
