// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.4;
}

body {
  background: $white;
  color: $black;
  overflow-x: hidden;
  position: relative;
}

a {
  font-weight: 700;
  text-decoration: none;
  transition: all .32s ease-in-out 0s;
}

button {
  -webkit-appearance: none;
  appearance: none;
  transition: all .32s ease-in-out 0s;
}

ul, ol {
  list-style-type: none;
}

p {
  margin: rem(8) 0;
}
