<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>
    {{ partial "styles.html" . }}
  </head>
  <body>
    <main id="main" class="main" role="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "scripts.html" . }}
  </body>
</html>
