// reset
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.5;
}

body {
  background: $white;
  color: $black;
  overflow-x: hidden;
  position: relative;
}

button {
  -webkit-appearance: none;
  appearance: none;
}
