//
.sections {
  padding: rem(32) 0;
  position: relative;
  z-index: 1;
}

.section-hero {
  background: linear-gradient(135deg, rgba($blue, 1) 0%, rgba($pink, 1) 100%);
  color: $white;
  margin-top: rem(48);
  padding: 25vh 0;
  text-align: center;
  @include shadow(0, 1, $black);
}
