//
.section {
  padding: 16vh 0;
  position: relative;
  z-index: 1;

  &.black {
    background: $black;
    color: $white;
  }

  &.red {
    background: $red;
    color: $white;

    [class*="heading-"] {
      color: $white;
    }

  }

}

.section-hero {
  background: linear-gradient(135deg, rgba($blue, 1) 0%, rgba($pink, 1) 100%);
  color: $white;
  margin-top: rem(48);
  padding: 24vh 0;
  text-align: center;
  @include shadow(0, 1, $black);
}
